<div class="header">
  <div class="title inline">List of Categories</div>
</div>

<div *ngIf="error" class="bs-callout bs-callout-danger error">
  <h4>Error</h4> {{error}}
</div>

<div class="row mb-3 ml-0 mr-0">
  <div class="card highlight">
    <div class="card-block">
      <input [(ngModel)]="categoryName" class="form-control mr-sm-2 inline" type="text"
             placeholder="Enter category name...">
      <button class="btn btn-success inline" type="submit" (click)="create()">Add</button>
    </div>
  </div>
</div>

<div class="card-columns">
  <div *ngFor="let category of categories" class="card">

    <div class="card-block">

      <!-- Card title: contains category title -->
      <h4 *ngIf="editingCategoryId !== category.id" class="card-title inline">{{category.name}}</h4>

      <div *ngIf="editingCategoryId === category.id" class="d-flex flex-row">
        <input [(ngModel)]="category.name"
               class="form-control mr-sm-1 inline" type="text">
      </div>

      <!-- List of subcategories -->
      <div *ngFor="let subcategory of category.subcategories" class="mb-2">
        <h6 class="inline">{{subcategory.name}}</h6>
        <button *ngIf="editingCategoryId === category.id" type="button"
                class="btn float-right btn-outline-danger fa fa-times inline"
                (click)="removeSubcategory(category, subcategory)"></button>
      </div>

      <!-- Input used to add a new subcategory -->
      <div *ngIf="editingCategoryId === category.id" class="d-flex flex-row">
        <input [(ngModel)]="subcategoryName" class="form-control mr-sm-1 inline" type="text">
        <button type="button" class="btn btn-outline-success fa fa-plus inline"
                (click)="addSubcategory(category)"></button>
      </div>

      <div class="d-flex flex-column mt-3">
        <button *ngIf="editingCategoryId === category.id" type="button"
                class="btn btn-outline-success inline" (click)="update(category)">Save
        </button>
      </div>

    </div>

    <div class="card-footer">
      <button [disabled]="editingCategoryId === category.id" type="button" class="btn btn-outline-info"
              (click)="toggleEdit(category.id)">Edit
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="delete(category.id)">Delete</button>
    </div>

  </div>
</div>
