.card {

  &.fill-height {
    height: 100%;
  }

  .inline {
    display: inline-block;
  }
}

.card-footer {
  background: transparent;

  > button {
    float: right;
    + button {
      margin-right: 0.5rem;
    }
  }
}
